  <div>
    <header>
      <h1 align="center">Krazy Kobe NFT</h1>
    </header>

    <section>
      <ng-container [ngSwitch]="state">
        <ng-container *ngSwitchCase="Step.Mint">
          <ng-container *ngTemplateOutlet="mintStep"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="Step.Final">
          <ng-container *ngTemplateOutlet="finalStep"></ng-container>
        </ng-container>
      </ng-container>
    </section>
  </div>



<ng-template #mintStep>
  <div *ngIf="(MyBehaviourObservable | async)?.length == 0">
  <div class="center">
      <mat-progress-spinner
        matTooltip="Minting in progress"
        color="primary"
        mode="indeterminate"
        diameter="100">
      </mat-progress-spinner>
    </div>
    </div>
  <div  *ngIf="MyBehaviourObservable | async">

    Successfully minted!
    Tx Hash: {{txHash}}

  </div>

</ng-template>




<ng-template #finalStep>
</ng-template>
