.example-card {
  margin-top: 10em;
  margin-left: 2em;
  max-width: 400px;
}

.example-header-image {
  background-image: url('../../../assets/kobe.png');
  background-size: cover;
}

.title {
  text-align: center;
}

.my-css-class .mat-dialog-container{
  background: linear-gradient(blue, pink) !important;
}
