---
layout: layouts/base.njk
data: nfs
---

<div class="metaportal_fn_pagetitle">

  <div class="container small">
    <div class="pagetitle">
      <h3 class="fn__maintitle big" data-text="Collection" data-align="center">Collection</h3>
      <p>
        <a href="index.njk">Home</a>
        <span class="divider">/</span>
        <span class="text">Collection</span>
      </p>
    </div>
  </div>
</div>

<!-- Section Divider -->
<div class="fn_cs_section_divider">
  <div class="divider">
    <span class="short"></span>
    <span class="long"></span>
    <span class="short"></span>
  </div>
</div>
<!-- !Section Divider -->


<!-- Collection Page -->
<div class="metaportal_fn_collectionpage">
  <div class="container">

    <div class="metaportal_fn_collection">

      <!-- Filters -->
      <div class="metaportal_fn_filters">

        <!-- Type -->
        <div class="filter_item filter__type opened">

          <!-- Filter Header -->
          <div class="filter_item__header">
            <a class="full_link" href="#"></a>
            <span class="text">Image</span>
            <span class="icon"><img src="svg/down.svg" alt="" class="fn__svg"></span>
          </div>
          <!-- !Filter Header -->

          <!-- Filter Content -->
          <div class="filter_item__content">
            <div class="ic_in">

              <ul class="items">
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Type" data-id="picture">
                      <span class="text">Picture</span>
                      <span class="amount"> - 84</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Type" data-id="painting">
                      <span class="text">Painting</span>
                      <span class="amount"> - 97</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Type" data-id="cartoon">
                      <span class="text">Cartoon</span>
                      <span class="amount"> - 19</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
              </ul>

            </div>
          </div>
          <!-- Filter Content -->

        </div>
        <!-- !Type -->

        <!-- Special -->
        <div class="filter_item filter__special opened">

          <!-- Filter Header -->
          <div class="filter_item__header">
            <a class="full_link" href="#"></a>
            <span class="text">Body</span>
            <span class="icon"><img src="svg/down.svg" alt="" class="fn__svg"></span>
          </div>
          <!-- !Filter Header -->

          <!-- Filter Content -->
          <div class="filter_item__content">
            <div class="ic_in">

              <ul class="items">
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Special" data-id="fullbody">
                      <span class="text">Full body</span>
                      <span class="amount"> - 54</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Special" data-id="halfbust">
                      <span class="text">Half bust</span>
                      <span class="amount"> - 44</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Special" data-id="closeup">
                      <span class="text">Close-up</span>
                      <span class="amount"> - 102</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
              </ul>

            </div>
          </div>
          <!-- Filter Content -->

        </div>
        <!-- !Special -->

        <!-- Clothing -->
        <div class="filter_item filter__clothing">

          <!-- Filter Header -->
          <div class="filter_item__header">
            <a class="full_link" href="#"></a>
            <span class="text">Type</span>
            <span class="icon"><img src="svg/down.svg" alt="" class="fn__svg"></span>
          </div>
          <!-- !Filter Header -->

          <!-- Filter Content -->
          <div class="filter_item__content">
            <div class="ic_in">

              <ul class="items">
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Clothing" data-id="explorer">
                      <span class="text">Explorer</span>
                      <span class="amount">- 9</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Clothing" data-id="medieval">
                      <span class="text">Medieval</span>
                      <span class="amount"> - 32</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Clothing" data-id="outdoor">
                      <span class="text">Outdoor</span>
                      <span class="amount"> - 31</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Clothing" data-id="goodboy">
                      <span class="text">Good boy</span>
                      <span class="amount"> - 30</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Clothing" data-id="readytogo">
                      <span class="text">Ready 2 go</span>
                      <span class="amount"> - 11</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Clothing" data-id="zombie">
                      <span class="text">Zombie</span>
                      <span class="amount"> - 11</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Clothing" data-id="coolkobe">
                      <span class="text">Kool Kobe</span>
                      <span class="amount"> - 12</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Clothing" data-id="fluffy">
                      <span class="text">Fluffy</span>
                      <span class="amount"> - 18</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Clothing" data-id="blackandwhite">
                      <span class="text">Bkack&White</span>
                      <span class="amount"> - 8</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Clothing" data-id="madmax">
                      <span class="text">Madmax</span>
                      <span class="amount"> - 7</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Clothing" data-id="christmas">
                      <span class="text">Christmas</span>
                      <span class="amount"> - 9</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Clothing" data-id="officeworker">
                      <span class="text">Office worker</span>
                      <span class="amount"> - 17</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <label class="checkbox" data-category="Clothing" data-id="vangogh">
                      <span class="text">Van Gogh</span>
                      <span class="amount"> - 5</span>
                      <input type="checkbox">
                      <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
                    </label>
                  </div>
                </li>
              </ul>

            </div>
          </div>
          <!-- Filter Content -->

        </div>
        <!-- !Clothing -->

      </div>
      <!-- !Filters -->

      <div class="metaportal_fn_clist">

        <!-- Result Box -->
        <div class="metaportal_fn_result_box" data-and-text="And" data-or-text="Or">
          <div class="filter_count">
            Filters <span>0</span>
          </div>
        </div>
        <!-- !Result Box -->

        <!-- Result List -->
        <div class="metaportal_fn_result_list">
          <div class="metaportal_fn_drops" id="collection">
            <ul class = 'grid'>
              {%- for nft in nfts %}
                <li class='id{{ nft.property1 }} id{{ nft.property2 }} id{{ nft.property3 }}'>
                  <div class='nft__item'>
                    <div class='img_holder'>
                      <img src='https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/{{ nft.name }}.jpg' alt=''>
                      <a href="/nft/{{ nft.name | int}}" class='full_link'></a>
                    </div>
                    <div class='title_holder'>
                      <h3 class='fn_title'><a href="/nft/{{ nft.name | int }}">Krazy Kobe {{ nft.name }}</a></h3>
                    </div>
                  </div>
                </li>
              {%- endfor %}
            </ul>
          </div>
        </div>
        <!-- !Result List -->

      </div>

    </div>

  </div>
</div>
<!-- !Collection Page -->
