---
layout: layouts/base.njk
---

<script type="module" async>
  import {ethers} from "/js/ethers.js";
  import {abi as nftAbi} from "/js/nft-abi.js";

  const nftContractAddress = '{{  contract }}';

  if (window.ethereum) {
    await window.ethereum.request({
      method: 'wallet_switchEthereumChain',
      params: [{ chainId: '{{ network }}' }],
    });
    const provider = new ethers.providers.Web3Provider(window.ethereum, "any");
    const contract = new ethers.Contract(nftContractAddress, nftAbi, provider);
    const totalMinted = await contract.connect(provider).totalMinted();

    document.getElementById("minted_counter").setAttribute("data-to", totalMinted);
  }

  window.dispatchEvent(new Event("init_counter"));
</script>

<!-- Home Section -->
<section id="home">
  <div class="container">

    <h1 class="fn__herotitle" data-text="Krazy Kobe" data-align="center">Krazy Kobe</h1>

    <!-- Slider -->
    <div class="fn_cs_slider" data-responsive="on">
      <div class="slider_top">
        <img src="img/1x1.jpg" alt="">
        <ul>
          <li class="prev" data-index="1">
            <div class="item">
              <img src="img/1x1.jpg" alt="">
              <div class="item_in">
                <div class="img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/107.jpg"></div>
              </div>
            </div>
          </li>
          <li class="active" data-index="2">
            <div class="item">
              <img src="img/1x1.jpg" alt="">
              <div class="item_in">
                <div class="img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/035.jpg"></div>
              </div>
            </div>
          </li>
          <li class="next" data-index="3">
            <div class="item has_video">
              <img src="img/1x1.jpg" alt="">
              <div class="item_in">
                <div class="img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/187.jpg"></div>
              </div>
            </div>
          </li>
          <li class="next2" data-index="4">
            <div class="item">
              <img src="img/1x1.jpg" alt="">
              <div class="item_in">
                <div class="img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/103.jpg"></div>
              </div>
            </div>
          </li>
          <li data-index="5">
            <div class="item">
              <img src="img/1x1.jpg" alt="">
              <div class="item_in">
                <div class="img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/053.jpg"></div>
              </div>
            </div>
          </li>
          <li data-index="6">
            <div class="item">
              <img src="img/1x1.jpg" alt="">
              <div class="item_in">
                <div class="img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/173.jpg"></div>
              </div>
            </div>
          </li>
          <li class="prev2" data-index="7">
            <div class="item">
              <img src="img/1x1.jpg" alt="">
              <div class="item_in">
                <div class="img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/042.jpg"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="slider_nav">
        <a href="#" class="prev">
          <span class="circle"></span>
          <span class="icon"><img src="/svg/down.svg" alt="" class="fn__svg"></span>
          <span class="circle"></span>
        </a>
        <a href="#" class="next">
          <span class="circle"></span>
          <span class="icon"><img src="/svg/down.svg" alt="" class="fn__svg"></span>
          <span class="circle"></span>
        </a>
      </div>
    </div>
    <!-- !Slider -->

    <!-- Description -->
    <div class="fn_cs_desc">
      <p>Krazy Kobe represents a collection of 200 AI-generated art pieces of LTO team mascot Kobe. The NFTs are stored as ERC-721 tokens on the Ethereum blockchain and hosted on IPFS.</p>
      <a  href="/collection" class="metaportal_fn_button"><span>Mint your Krazy Kobe NFT</span></a>
    </div>
    <!-- !Description -->


  </div>
</section>
<!-- !Home Section -->

<!-- Fun Facts -->
<section id="fun_facts">
  <div class="container">

    <div class="fn_cs_counter_list">
      <ul>
        <li>
          <div class="item">
            <h3 class="fn__gradient_title">
              <span class="prefix"></span>
              <span class="fn_cs_counter" data-from="0" data-to="200" data-speed="3000" data-decimals="0">0</span>
              <span class="suffix"></span>
            </h3>
            <p>NFTs</p>
            <div class="divider"></div>
          </div>
        </li>
        <li>
          <div class="item">
            <h3 class="fn__gradient_title">
              <span class="prefix"></span>
              <span id="minted_counter" class="fn_cs_counter" data-from="0" data-to="0" data-speed="3000" data-decimals="0">0</span>
              <span class="suffix"></span>
            </h3>
            <p>Minted</p>
            <div class="divider"></div>
          </div>
        </li>
        <li>
          <div class="item">
            <h3 class="fn__gradient_title">
              <span class="prefix"></span>
              <span class="fn_cs_counter" data-from="0" data-to="0.005" data-speed="500" data-decimals="3">0</span>
              <span class="suffix"></span>
            </h3>
            <p>Floor Price (ETH)</p>
            <div class="divider"></div>
          </div>
        </li>
        <li>
          <div class="item">
            <h3 class="fn__gradient_title">
              <span class="prefix"></span>
              <span class="fn_cs_counter" data-from="0" data-to="1" data-speed="500" data-decimals="0">0</span>
              <span class="suffix"></span>
            </h3>
            <p>Maltipoo</p>
            <div class="divider"></div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>
<!-- !Fun Facts -->

<!-- About Section -->
<section id="about">

  <!-- About Shortcode -->
  <div class="fn_cs_about">
    <div class="left_part">
      <div class="img">
        <div class="img_in" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/001.jpg"><img src="img/1x1.jpg" alt=""></div>
      </div>
      <div class="bg_overlay">
        <div class="bg_color"></div>
        <div class="bg_image" data-bg-img="img/about/bg.jpg"></div>
      </div>
    </div>
    <div class="right_part">
      <div class="right_in">
        <h3 class="fn__maintitle" data-text="Maltipoo">Maltipoo</h3>
        <div class="fn_cs_divider">
          <div class="divider">
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="desc">
          <p>Maltipoos are a popular designer breed of dog that are a cross between a Maltese and a Toy Poodle. They are small, playful, and affectionate, with a fluffy, curly coat and big, round eyes. Maltipoos are known for their intelligence and trainability, and they make great companion dogs for those who want a loyal and affectionate pet.</p>

          <p>Maltipoos are small dogs, with a typical weight of between 2 and 5 kilograms. They have a playful and energetic personality, and they need plenty of exercise and stimulation to stay happy and healthy. They are intelligent and highly trainable, and they can learn a variety of tricks and commands.</p>

          <p>Maltipoos are very social animals and crave attention from their owners. They are very affectionate and form strong bonds with their owners, making them the perfect companion for those who want a loyal and loving pet. They are also good with children and other pets, provided they are properly socialized.</p>

          <p>Maltipoos are known for their beautiful, fluffy coats, which come in a variety of colors, including white, black, apricot, and red. They require regular grooming to keep their coats healthy and tangle-free, but they are generally low-shedding and hypoallergenic, making them a good choice for those with allergies.</p>

          <p>In summary, Maltipoos are a designer breed of dog that are known for their intelligence, affection, and playful nature. They are the perfect pet for those who want a loyal and loving companion.</p>

          <p style="font-style: italic">This text has been written by <a href="https://chat.openai.com/" target="_blank">ChatGPT</a> </p>
          </div>
        <a href="https://discord.com/" class="metaportal_fn_button" target="_blank"><span>Learn more about Maltipoos</span></a>
      </div>
    </div>
  </div>
</section>
  <!-- !About Shortcode -->

<section>
  <a id="how-to-mint" class="anchor"></a>
  <div class="container">
    <!-- Mint Shortcode -->
    <div class="fn_cs_mint">
      <div class="left_part">
        <h3 class="fn__maintitle" data-text="How to Mint">How to Mint</h3>
        <div class="fn_cs_divider">
          <div class="divider">
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="desc">

          <p>Krazy Kobe NFT is a showcase project for Proofi, the identity solution by LTO Network.</p>

          <p>Before being able to mint an NFT, your identity will be verified by Proofi. You're real-world identity is used to ensure only one Krazy Kobe NFT can be minted per person. </p>

          <p>We've take you through a step-by-step process. It will grant you a unique DID (decentralized identifier), which will be connected to your Ethereum wallet address through Metamask.</p>

          <p>Proofi will verify if your wallet is allowed to mint an NFT. No personal information is shared with a DApp or DeFi project like Krazy Kobe NFT.</p>

        </div>
        <a  href="/collection" class="metaportal_fn_button"><span>Mint your Krazy Kobe NFT</span></a>
      </div>

      <div class="right_part">

        <!-- Steps Shortcode -->
        <div class="fn_cs_steps">
          <ul>
            <li>
              <div class="item">
                <div class="item_in">
                  <h3 class="fn__gradient_title">01</h3>
                  <p>Connect your Wallet</p>
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="item_in">
                  <h3 class="fn__gradient_title">02</h3>
                  <p>Verify Your Identity</p>
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="item_in">
                  <h3 class="fn__gradient_title">03</h3>
                  <p>Confirm The Transaction</p>
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="item_in">
                  <h3 class="fn__gradient_title">04</h3>
                  <p>Receive Your NFT</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- !Steps Shortcode -->

        <!-- Video Shortcode -->
        <!--div class="fn_cs_video">
          <img src="img/video/1.jpg" alt="">
          <a class="popup-youtube" href="https://www.youtube.com/watch?v=D1CDJEahhjY">
            <img src="/svg/play.svg" alt="" class="fn__svg">
          </a>
        </div-->
        <!-- /Video Shortcode -->

      </div>

    </div>
    <!-- !Mint Shortcode -->
  </div>

</section>
<!-- !About Section -->


<!-- Section Divider -->
<div class="fn_cs_section_divider">
  <div class="divider">
    <span class="short"></span>
    <span class="long"></span>
    <span class="short"></span>
  </div>
</div>
<!-- !Section Divider -->

<!-- Collection Section -->
<section id="collection">
  <div class="container">

    <h3 class="fn__maintitle big" data-text="Our Collection" data-align="center">Our Collection</h3>

    <div class="fn_cs_collection">
      <div class="collection_top">
        <div class="item">
          <div class="item_in">
            <div class="img">
              <div class="abs_img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/008.jpg"></div>
              <img src="img/1x1.jpg" alt="">
            </div>
          </div>
          <input type="hidden" value="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/008.jpg">
        </div>
        <div class="item">
          <div class="item_in">
            <div class="img">
              <div class="abs_img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/114.jpg"></div>
              <img src="img/1x1.jpg" alt="">
            </div>
          </div>
          <input type="hidden" value="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/114.jpg">
        </div>
        <div class="item">
          <div class="item_in">
            <div class="img">
              <div class="abs_img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/061.jpg"></div>
              <img src="img/1x1.jpg" alt="">
            </div>
          </div>
          <input type="hidden" value="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/061.jpg">
        </div>
        <div class="item">
          <div class="item_in">
            <div class="img">
              <div class="abs_img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/069.jpg"></div>
              <img src="img/1x1.jpg" alt="">
            </div>
          </div>
          <input type="hidden" value="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/069.jpg">
        </div>
      </div>
      <div class="collection_bottom">
        <div class="item">
          <div class="item_in">
            <div class="img">
              <div class="abs_img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/172.jpg"></div>
              <img src="img/1x1.jpg" alt="">
            </div>
          </div>
          <input type="hidden" value="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/172.jpg">
        </div>
        <div class="item">
          <div class="item_in">
            <div class="img">
              <div class="abs_img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/105.jpg"></div>
              <img src="img/1x1.jpg" alt="">
            </div>
          </div>
          <input type="hidden" value="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/105.jpg">
        </div>
        <div class="item">
          <div class="item_in">
            <div class="img">
              <div class="abs_img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/130.jpg"></div>
              <img src="img/1x1.jpg" alt="">
            </div>
          </div>
          <input type="hidden" value="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/130.jpg">
        </div>
        <div class="item">
          <div class="item_in">
            <div class="img">
              <div class="abs_img" data-bg-img="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/157.jpg"></div>
              <img src="img/1x1.jpg" alt="">
            </div>
          </div>
          <input type="hidden" value="https://ipfs.krazykobe.com/ipfs/QmdYSTJEnRyjMtuXpE2PeC9M2jA91UYigcmx49fguxQZUt/157.jpg">
        </div>
      </div>
    </div>

    <div class="fn_cs_desc">
      <p>Krazy Kobe represents a collection of 200 AI-generated art pieces of LTO team mascot Kobe. The NFTs are stored as ERC-721 tokens on the Ethereum blockchain and hosted on IPFS.</p>
      <a href="/collection" class="metaportal_fn_button">
        <span>See Full Collection</span>
      </a>
    </div>

  </div>
</section>
<!-- !Collection Section -->


<!-- Section Divider -->
<div class="fn_cs_section_divider">
  <div class="divider">
    <span class="short"></span>
    <span class="long"></span>
    <span class="short"></span>
  </div>
</div>
<!-- !Section Divider -->


<!-- Section RoadMap -->
<section id="roadmap">
  <div class="container">

    <h3 class="fn__maintitle big" data-text="RoadMap" data-align="center">RoadMap</h3>

    <div class="fn_cs_roadmap">
      <div class="step_holder">
        <div class="step_in"></div>
      </div>
      <div class="slider_holder">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="item">
                <span class="icon"></span>
                <span class="phase">Mint 1</span>
                <div class="item_in">
                  <h3 class="title">Kobe gets a treat</h3>
                  <p class="desc">To celebrate the first mint of Krazy Kobe NFT, Kobe will get his favorite treat. A picture of Kobe enjoying his treat will be shared on social media.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="item">
                <span class="icon"></span>
                <span class="phase">Mint 10</span>
                <div class="item_in" style="padding-bottom: 20px">
                  <h3 class="title">Squeaky toy</h3>
                  <p class="desc">The best toy is a new toy. <div class="donate-image"><img src="img/squeaky-toy.webp"></div></p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="item">
                <span class="icon"></span>
                <span class="phase">Mint 20</span>
                <div class="item_in">
                  <h3 class="title">Kobe on Instagram</h3>
                  <p class="desc">Our favorite Maltipoo will get his own Instagram page, featuring unseen pictures of Kobe as a pup, Kobe on the beach, and Kobe in the shower.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="item">
                <span class="icon"></span>
                <span class="phase">Mint 50</span>
                <div class="item_in" style="padding-bottom: 20px">
                  <h3 class="title">Rescue Paws Curacao</h3>
                  <p class="desc">All proceeds of Krazy Kobe NFT will to donated to <a href="https://rescuepawscuracao.com/" target="_blank" class="donate-image"><img src="img/rescuepawscuracao.png"></a></p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="item">
                <span class="icon"></span>
                <span class="phase">Mint 100</span>
                <div class="item_in">
                  <h3 class="title">Surf'n'turf</h3>
                  <p class="desc">Kobe is treated to a fancy diner with a tender steak and juicy salmon. A video of Kobe enjoying this first class diner will be shared on social media.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="item">
                <span class="icon"></span>
                <span class="phase">Mint 150</span>
                <div class="item_in">
                  <h3 class="title">Doggy Agility Set</h3>
                  <p class="desc">Get this lazy dog moving with a new agility set. Kobe is fast and smart. He could be winning international agility competitions. But he rather stays in bed.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="item">
                <span class="icon"></span>
                <span class="phase">Mint 200</span>
                <div class="item_in">
                  <h3 class="title">Donation x2</h3>
                  <p class="desc">To celebrate that all Krazy Kobe NFTs have been minted, the LTO team will double the donation made to <a href="https://rescuepawscuracao.com/" target="_blank">Rescue Paws Curacao</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- !Section RoadMap -->
